.navbar-inverse .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFF;
    color: #000;
}

.navbar-inverse {
    border-color: white;
    border-width:0px;
    border-radius:0px;
}

.navbar-inverse .navbar-nav > li> a {
    color: #FFF;
}

.navbar-inverse p {
    color: #FFF;
}